[submodule "tclcurl-fa"]
	path = tclcurl-fa
	url = gitea@gitea.phosphoros.delivery:wrath/shaniqua-tclcurl-fa.git
[submodule "tclx"]
	path = tclx
	url = https://github.com/flightaware/tclx.git
[submodule "tcllib"]
	path = tcllib
	url = https://github.com/tcltk/tcllib.git
[submodule "state"]
	path = state
	url = gitea@gitea.phosphoros.delivery:wrath/shaniqua-smeggdrop.git

